.scrolling-anchors {
  $self: &;

  @each $color-combo, $config in $gradient-config {
    $background: map-get($config, background);
    $highlight: map-get($config, highlight);
  
    &.gradient-#{$color-combo} {
      #{$self}__anchor:hover {
        #{$self}__header {
          background: $background;

          &::before {
            background: $background;
          }
        }

        #{$self}__icon-wrapper {
          color: $highlight;
        }
      }
    }
  }

  .sticky-container {
    @include bp(lg) {
      position: sticky;
      top: 140px;
      left: 0;
    }
  }

  &__anchor {
    cursor: pointer;
    display: block;
    margin-bottom: 60px;
    text-decoration: none;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      #{$self}__icon--hover {
        opacity: 1;
      }

      #{$self}__icon--normal {
        opacity: 0;
      }

      #{$self}__header::before {
        height: 4px;
      }
    }
  }

  &__header {
    position: relative;
    margin-bottom: 20px;
    padding-top: 10px;
    background: $vapour-white;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    padding-right: 30px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 1px;
      background: $vapour-white;
      transition: $transition;
      transition-property: height;
    }
  }
  
  &__description {
    text-decoration: none;
    color: $vapour-white;
  }

  &__title {
    margin-bottom: 40px;

    @include bp(md) {
      margin-bottom: 100px;
    }

    @include bp(lg) {
      margin-bottom: 0;
    }
  }

  &__gradient-text {
    display: block;
    line-height: 60px;
  }

  &__icon {
    position: absolute;
    left: 2px;
    bottom: 12px;
    transition: $transition;
    transition-property: opacity;

    &--hover {
      opacity: 0;
    }
  }

  &__heading {
    padding-left: 40px;
    padding-bottom: 10px;
    margin-bottom: -10px;
  }

  &__arrow {
    position: absolute;
    top: 0;
    right: 2px;
    height: 100%;

    path {
      fill: white !important;
    }
  }

  .section-separator {
    @include bp(md) {
      padding-right: 34px;
    }
  }
}


.scrolling-anchors__anchor:hover {
  .scrolling-anchors__header {
    .scrolling-anchors__icon-wrapper {
      .scrolling-anchors__arrow {
        path {
          fill: #A371E5 !important;
        }
      }
    }
  }
}