$images-gap: 20px;

.image-slider {
  overflow: hidden;
  display: flex;
  margin-bottom: 20px;
  padding: $images-gap 0;

  @include bp(md) {
    margin-bottom: 100px;
  }

  &__row {
    display: flex;
    gap: $images-gap;
    max-height: 370px;
    overscroll-behavior: none;
  }

  &__col {
    display: flex;
    flex-direction: column;
    gap: $images-gap;
  }

  &__image-container {
    position: relative;
    height: 100%;

    &--two-images {
      height: calc(50% - 10px);
    }

    img {
      opacity: 0;
    }
  }

  &__gradient-image {
    background-blend-mode: color,normal;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
  }

  &__image {
    width: auto;
    height: 100%;
    object-fit: cover;
  }
}
