.it-tiles {
  &__title {
    margin-bottom: 60px;

    @include bp(md) {
      margin-bottom: 90px;
    }
  }

  &__tile {
    position: relative;
    margin-bottom: 60px;
    padding-left: 48px;

    @include bp(md) {
      margin-bottom: 40px;
    }
    @media only screen and (max-width: 520px) {
      padding-left: 0;
    }
  }

  &__icon {
    position: absolute;
    left: 0;

    @media only screen and (max-width: $bp-sm) {
      position: initial;
    }
  }

  &__tile-title {
    margin-bottom: 16px;
    font-weight: 400;
  }
}
