.titled-text-block {
  &__col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 40px;
    line-height: 40px;

    @include bp(md) {
      margin-bottom: 58px;
      line-height: 60px;
    }
  }

  &__container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    line-height: 28px;

    @include bp(md) {
      flex-direction: row;
      line-height: 24px;
    }
  }

  &__paragraph {
    margin-bottom: 10px;

    @include bp(md) {
      margin-bottom: 0;
    }
  }

  &__button {
    margin-top: 40px;

    @include bp(md) {
      margin-top: 18px;
    }
  }

  &__button-text {
    display: inline-block;
    margin-right: 14px;
  }
}
