.addresses {
  $self: &;

  &__title {
    margin-bottom: 56px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    flex: 50%;

    @include bp(lg) {
      flex-direction: row;
      flex-wrap: wrap;

      #{$self}__box {
        flex: 1 0 33%;
      }
    }

    &--odd-cols {
      gap: 20px;
      flex: 33%;

      @include bp(lg) {
        #{$self}__box {
          flex: 1 0 25%;
        }
      }
    }
  }

  &__box {
    position: relative;
    width: 100%;
    padding: 20px;
    border: 2px solid rgba($white, .2);

    &:hover {
      border-image-slice: 1;
      border-image-source: $blue-purple-gradient;
    }
  }

  &__town {
    font-size: 20px;
    line-height: 28px;
  }

  p {
    margin-bottom: 10px;
    font-weight: 700;

    &:last-child {
      margin: 0;
    }
  }
}
