.text-section {
  margin-bottom: 0;
  background: $white;
  color: $black;

  &__content {
    padding: 80px 0;
    border-bottom: 4px solid $cosmic-blue;

    @include bp(md) {
      padding: 80px 110px;
    }
  }

  p {
    margin-bottom: 16px;
  }
}
