.text-block-bg {
  padding: 160px 0 30px;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  background-blend-mode: color,color,normal;
  background-position: center !important;
  overflow: hidden;

  @include bp(md) {
    padding: 120px 0;
  }

  &__title {
    margin-bottom: 40px;

    @include bp(md) {
      margin-bottom: 0;
    }
  }

  &__secondary-text {
    display: inline-block;
    line-height: 40px;

    @include bp(md) {
      line-height: 58px;
    }
  }

  &__paragraph {
    margin-bottom: 50px;

    @include bp(md) {
      margin-bottom: 20px;
    }
  }
}
