@import "external/all";
@import "setup/all";
@import "symbols/all";
@import "components/all";

@import "../../includes/gutenberg/hero-a/hero-a.scss";
@import "../../includes/gutenberg/hero-b/hero-b.scss";
@import "../../includes/gutenberg/hero-c/hero-c.scss";
@import "../../includes/gutenberg/page-title/page-title.scss";
@import "../../includes/gutenberg/text-section/text-section.scss";
@import "../../includes/gutenberg/text-intro/text-intro.scss";
@import "../../includes/gutenberg/image-slider/image-slider.scss";
@import "../../includes/gutenberg/titled-text-blocks/titled-text-blocks.scss";
@import "../../includes/gutenberg/cta-section/cta-section.scss";
@import "../../includes/gutenberg/cta-small/cta-small.scss";
@import "../../includes/gutenberg/block-tabs/block-tabs.scss";
@import "../../includes/gutenberg/titled-text-blocks-background/titled-text-blocks-background.scss";
@import "../../includes/gutenberg/sticky-anchors/sticky-anchors.scss";
@import "../../includes/gutenberg/stories-blocks/stories-blocks.scss";
@import "../../includes/gutenberg/icon-text-tiles/icon-text-tiles.scss";
@import "../../includes/gutenberg/rating-tiles/rating-tiles.scss";
@import "../../includes/gutenberg/two-columns/two-columns.scss";
@import "../../includes/gutenberg/partners-logos/partners-logos.scss";
@import "../../includes/gutenberg/accordions/accordions.scss";
@import "../../includes/gutenberg/our-team-persons/our-team-persons.scss";
@import "../../includes/gutenberg/our-team-steps/our-team-steps.scss";
@import "../../includes/gutenberg/where-we-are/where-we-are.scss";
@import "../../includes/gutenberg/our-team-image-gallery/our-team-image-gallery.scss";
@import "../../includes/gutenberg/greenhouse-job-board/greenhouse-job-board.scss";
@import "../../includes/gutenberg/latest-blogs/latest-blogs.scss";

html.sr .load-hidden,
html.sr .custom-load-hidden,
html.sr .load-hidden-no-reset {
  visibility: hidden;
}

body.body-workable {
  .load-hidden {
    opacity: 1 !important;
  }
}

//// BELOW TO BE ADDED TO APPROPRIATE AREAS

body {
  overflow-x: hidden;
}

.col.is-12.is-offset-3-md.is-9-md.is-offset-0-lg.is-7-lg:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 999;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.latest-blogs__image-wrapper {
  height: 200px;
  overflow: hidden;
}

.latest-blogs__image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: fit-content;
}

header {
  z-index: 99;
}

section {
  z-index: 0;
  
  &.ch2 {
    z-index: 99;
  }
}


.navigation__link {
  padding: 15px 0;
}

.header__container img {
  width: 250px;
}

.footer {
  overflow: hidden;
}

.menu__container {
  padding-top: 140px;
}

.header__container {
  align-items: normal;
}

.header__button {
  margin-top: 20px;
}

.cta-small__open-roles {
  padding-bottom: 150px;
}
