.hero-c {
  display: flex;
  align-items: flex-end;
  min-height: 400px;
  padding: 100px 0 40px;
  background-blend-mode: color, normal;
  background-repeat: no-repeat !important;
  background-size: cover !important;

  @include bp(md) {
    min-height: 600px;
    padding: 120px 0 60px;
  }

  &__heading {
    max-width: 520px;
    margin-bottom: 30px;
  }

  &__container {
    margin: 0 auto;
  }
}
