.our-story-steps {
  $self: &;

  &__wrapper {
    display: flex;
    flex-direction: column;

    @include bp(md) {
      flex-direction: row;
    }
  }

  &__tab {
    padding: 0 0 30px;
    margin: 0 0 40px;
    border-bottom: 1px solid rgba($vapour-white, .2);

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border: none;
    }

    @include bp(md) {
      max-width: 270px;
      padding: 0 50px 0 0;
      margin: 0 50px 0 0;
      border-bottom: none;
      border-right: 1px solid rgba($vapour-white, .2);
    }
  }

  &__number {
    color: $white;
    font-size: 40px;
    line-height: 28px;
    font-weight: 700;
  }

  &__number-text {
    margin: 20px 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
  }

  &__text-content {
    line-height: 28px;
  }
}
