@import 'variables';
@import 'mixins';
@import 'grid';
@import 'typography';
@import 'modifiers';
@import 'animations';
@import 'helpers';

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  color: $vapour-white;
}

html {
  &.mobile-menu-open {
    overflow: hidden;
  }
}

body {
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  background: $cosmic-blue;
  font-family: $font-primary;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  &.menu-open {
    overflow: hidden;
  }
}

section {
  position: relative;
  margin-bottom: 80px;

  @include bp(md) {
    margin-bottom: 90px;
  }

  @include bp(lg) {
    margin-bottom: 140px;
  }
}

.section-bg-image {
  z-index: -1;
  opacity: .2;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-blend-mode: color, normal;
  background-repeat: no-repeat !important;
  background-size: cover !important;

  // Hero background images should have higher opacity
  [class^='hero-'] & {
    opacity: 0.5;
  }
}
