@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeOut { from { opacity:0; } to { opacity:1; } }

$animation-delays: (
  1: .125s,
  2: .25s,
  3: .375s,
  4: .5s,
  5: .625s,
  6: .75s,
  7: .875s,
  8: 1s,
  9: 1.25s,
  10: 1.5s,
);

@each $delay, $duration in $animation-delays {
  .animation-delay-#{$delay} {
    @include delay($duration);
  }
}
