.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $total-width;
  padding: 0 10px;
  width: 100%;

  @include bp(md) {
    padding: 0 40px;
  }

  @include bp(lg) {
    padding: 0 20px;
  }

  @include bp(custom, min, calc(#{$total-width} + #{$tablet-gutter-width 2})) {
    padding: 0;
  }
}


.cols {
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 calc(0 - (#{$mobile-gutter-width} / 2)) -20px;

  @include bp(md) {
    margin: 0 calc(0 - (#{$tablet-gutter-width} / 2)) -20px;
  }

  @include bp(lg) {
    margin: 0 calc(0 - (#{$desktop-gutter-width} / 2)) -20px;
  }

  @include bp(sm) {
    display: flex;
  }
}

.col {
  box-sizing: border-box;
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 calc(#{$mobile-gutter-width} / 2) 20px;

  @include bp(md) {
    padding: 0 calc(#{$tablet-gutter-width} / 2) 20px;
  }

  @include bp(lg) {
    padding: 0 calc(#{$desktop-gutter-width} / 2) 20px;
  }

  @for $i from 0 through 12 {
    &.is-#{$i} {
      flex: none;
      width: calc($i / 12) * 100%;
    }

    &.is-offset-#{$i} {
      margin-left: calc($i / 12) * 100%;
    }
  }

  @include bp(sm) {
    margin: 0;
  }

  @include bp(sm) {
    @for $i from 0 through 12 {
      &.is-#{$i}-sm {
        flex: none;
        width: calc($i / 12) * 100%;
      }

      &.is-offset-#{$i}-sm {
        margin-left: calc($i / 12) * 100%;
      }
    }
  }

  @include bp(md) {
    @for $i from 0 through 12 {
      &.is-#{$i}-md {
        flex: none;
        width: calc($i / 12) * 100%;
      }

      &.is-offset-#{$i}-md {
        margin-left: calc($i / 12) * 100%;
      }
    }
  }

  @include bp(lg) {
    @for $i from 0 through 12 {
      &.is-#{$i}-lg {
        flex: none;
        width: calc($i / 12) * 100%;
      }

      &.is-offset-#{$i}-lg {
        margin-left: calc($i / 12) * 100%;
      }
    }
  }

  @include bp(xl) {
    @for $i from 0 through 12 {
      &.is-#{$i}-xl {
        flex: none;
        width: calc($i / 12) * 100%;
      }

      &.is-offset-#{$i}-xl {
        margin-left: calc($i / 12) * 100%;
      }
    }
  }
}
