@mixin bp($size, $type: min, $pixels: $bp-sm) {
  @if $size == 'sm' {
    @media screen and ($type + -width: $bp-sm) {
        @content;
    }
  } @else if $size == 'md' {
    @media screen and ($type + -width: $bp-md) {
        @content;
    }
  } @else if $size == 'lg' {
    @media screen and ($type + -width: $bp-lg) {
        @content;
    }
  } @else if $size == 'xl' {
    @media screen and ($type + -width: $bp-xl) {
        @content;
    }
  } @else if $size == 'custom' {
    @media screen and ($type + -width: $pixels) {
     @content;
    }
  } @else if $size == 'IE11' {
    @media all and (-ms-high-contrast:none) {
     @content;
    }
  } @else if $size == 'DPI' {
    @media (min-resolution: 192dpi) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin delay($duration) {
  animation-delay: $duration !important;
}

@mixin psuedo ($display: block, $position: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $position;
}

@mixin cfix() {
  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}
