@each $color-combo, $config in $gradient-config {
  $animate-background: map-get($config, animate-background);
  $background: map-get($config, background);
  $highlight: map-get($config, highlight);

  .gradient-#{$color-combo} {
    .gradient-text, &.gradient-text {
      background: $background;
    }

    .highlight-text, &.highlight-text {
      color: $highlight;
    }

    .animated-gradient, &.animated-gradient {
      background: $animate-background;
    }
  }
}

.gradient-text {
  background: $vapour-white;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  line-height: 1.2em;
}

.animated-gradient {
  background-size: 250% !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  line-height: 1.2em;
  transition: .6s ease-in background-position !important;

  &.active-gradient {
    background-position: 100% center;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.no-margin {
  margin: 0;
}

.no-pb {
  padding-bottom: 0;
}

.flex-column {
  flex-direction: column;
}

.margins {
  margin: 16px 0 12px;
}
