@font-face {
  font-family: "Aeonik";
  src: url("../fonts/Aeonik-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Aeonik";
  src: url("../fonts/Aeonik-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Aeonik";
  src: url("../fonts/Aeonik-Bold.ttf") format("truetype");
  font-weight: 700;
}

body {
  color: $vapour-white-2 !important;
  font-size: 16px;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $vapour-white;
  line-height: 1em;
}

.super-heading {
  font-size: 60px;
  line-height: 1em;
  font-weight: 500;

  @include bp(md) {
    font-size: 92px;
  }

  @include bp(lg) {
    font-size: 120px;
  }
}

.sub-heading {
  font-size: 24px;
  line-height: calc(1em + 8px);

  @include bp(md) {
    font-size: 32px;
  }
}

h1 {
  font-size: 40px;
  font-weight: 500;

  @include bp(md) {
    font-size: 72px;
  }
}

h2 {
  font-size: 34px;
  font-weight: 500;

  @include bp(md) {
    font-size: 48px;
  }
}

h3 {
  font-size: 32px;
  font-weight: 500;

  @include bp(md) {
    font-weight: 700;
  }
}

h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

h5 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

ul {
  list-style-type: none;
}

p {
  margin: 0;
}

input, textarea {
  font-family: $font-primary;
}
