//  ==========================
//
//  GLOBAL
//
//  ==========================

$transition: .4s ease-in-out;
$transition-fast: .2s ease-in;

//  ==========================
//
//  COLORS
//
//  ==========================
$minimum-red: #DE6359;
$saffron-orange: #f18f54;
$sherbet-yellow: #F0D77F;
$mint-green: #A3E5DA;
$cerulean-blue: #52B0EB;
$heliotrope-purple: #A371E5;

$mint-green-lighten: #CBEBE6;
$heliotrope-purple-lighten: #B196E5;
$cerulean-blue-lighten: #99D6FC;

$cosmic-blue: #090821;
$cosmic-blue-2: #454457;
$moon-gray: #848390;
$moon-gray-2: #C1C1C7;
$vapour-white: #FAFAFB;
$vapour-white-2: #E2E2E5;

$cosmic-blue-border: #444254;
$purple-border: #9B74DD;
$checkbox-checked-green: #67C3B0;

$black: #000;
$white: #fff;
$error: #D98B83;
//  ==========================
//
//  GRADIENTS
//
//  ==========================
$purple-red-gradient: linear-gradient(270deg, $minimum-red 0%, $heliotrope-purple 100%);
$red-purple-gradient: linear-gradient(270deg, $purple-border 0%, $minimum-red 100%);
$red-orange-gradient: linear-gradient(270deg, $saffron-orange 0%, $minimum-red 100%);
$orange-yellow-gradient: linear-gradient(270deg, $sherbet-yellow 0%, $saffron-orange 100%);
$orange-purple-gradient: linear-gradient(270deg, $heliotrope-purple 0%, $minimum-red 100%);
$purple-orange-gradient: linear-gradient(270deg, $minimum-red 0%, $heliotrope-purple 100%);
$yellow-green-gradient: linear-gradient(270deg, $mint-green 0%, $sherbet-yellow 100%);
$green-blue-gradient: linear-gradient(270deg, $cerulean-blue 0%, $mint-green 100%);
$blue-purple-gradient: linear-gradient(270deg, $heliotrope-purple 0%, $cerulean-blue 100%);


$white-purple-red-gradient: linear-gradient(90deg,$vapour-white 0%, $minimum-red 60%, $heliotrope-purple 100%);
$white-red-purple-gradient: linear-gradient(90deg,$vapour-white 0%, $purple-border 60%, $minimum-red 100%);
$white-red-orange-gradient: linear-gradient(90deg,$vapour-white 0%, $saffron-orange 60%, $minimum-red 100%);
$white-orange-yellow-gradient: linear-gradient(90deg,$vapour-white 0%, $sherbet-yellow 60%, $saffron-orange 100%);
$white-orange-purple-gradient: linear-gradient(90deg,$vapour-white 0%, $heliotrope-purple 60%, $minimum-red 100%);
$white-purple-orange-gradient: linear-gradient(90deg,$vapour-white 0%, $minimum-red 60%, $heliotrope-purple 100%);
$white-yellow-green-gradient: linear-gradient(90deg,$vapour-white 0%, $mint-green 60%, $sherbet-yellow 100%);
$white-green-blue-gradient: linear-gradient(90deg,$vapour-white 0%, $cerulean-blue 60%, $mint-green 100%);
$white-blue-purple-gradient: linear-gradient(90deg,$vapour-white 0%, $heliotrope-purple 60%, $cerulean-blue 100%);

// Object used for mixins/functions
// Structure:
// {Color combo name} {
// background: {Background Gradient variable}
// highlight: {Highlighted text color variable}

// Example usage can be found inside typography.scss
$gradient-config: (
  red-purple: (
    animate-background: $white-red-purple-gradient,
    background: $red-purple-gradient,
    highlight: $heliotrope-purple,
  ),

  purple-red: (
    animate-background: $white-purple-red-gradient,
    background: $purple-red-gradient,
    highlight: $minimum-red,
  ),

  red-orange: (
    animate-background: $white-red-orange-gradient,
    background: $red-orange-gradient,
    highlight: $saffron-orange,
  ),

  orange-yellow: (
    animate-background: $white-orange-yellow-gradient,
    background: $orange-yellow-gradient,
    highlight: $sherbet-yellow,
  ),

  orange-purple: (
    animate-background: $white-orange-purple-gradient,
    background: $orange-purple-gradient,
    highlight: $heliotrope-purple,
  ),

  purple-orange: (
    animate-background: $white-purple-orange-gradient,
    background: $purple-orange-gradient,
    highlight: $saffron-orange,
  ),

  yellow-green: (
    animate-background: $white-yellow-green-gradient,
    background: $yellow-green-gradient,
    highlight: $mint-green,
  ),

  green-blue: (
    animate-background: $white-green-blue-gradient,
    background: $green-blue-gradient,
    highlight: $cerulean-blue,
  ),

  blue-purple: (
    animate-background: $white-blue-purple-gradient,
    background: $blue-purple-gradient,
    highlight: $cerulean-blue,
  ),
);

//  ==========================
//
//  GRID SETTINGS
//
//  - Open Sketch, locate 'View' in the top right, click 'Layout Settings...'
//  - Update $mobile-gutter-width below to the 'Gutter Width' value in Sketch
//  - Update $total-width below to 'Total Width' value in Sketch
//
//  ==========================

// Gutter width [Mobile]
$mobile-gutter-width: 20px;

// Gutter width [Tablet]
$tablet-gutter-width: 10px;

// Gutter width [Desktop]
$desktop-gutter-width: 20px;

// Total width
$total-width: 980px;


//  ==========================
//
//  BREAKPOINTS
//
//  ==========================

$bp-sm: 520px;
$bp-md: 768px;
$bp-lg: 1025px;
$bp-xl: 1140px;

//  ==========================
//
//  FONTS
//
//  ==========================

$font-primary: 'Aeonik', sans-serif;
$font-secondary: 'Aeonik', sans-serif;
