.latest-blogs {
    padding-bottom: 140px;

    &__main-title {
        margin-bottom: 152px;
        font-size: 48px;
        line-height: 48px;
        max-width: 400px;
        padding-bottom: 10px;
    }

    .no-date-title-fix {
        margin-top: 44px;

        @media only screen and (max-width: 520px) {
            margin: 0;
        }
    }

    &__blogs-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @media only screen and (min-width: $bp-sm) and (max-width: $bp-md) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media only screen and (max-width: $bp-sm) {
            grid-template-columns: 1fr;
        }

    }

    &__blog-tab {
        max-width: 300px;
        justify-self: center;
        margin-bottom: 63px;
    }

    &__image-wrapper {
        margin-bottom: 16px;

        img {
            width: 100%;
            height: auto;
            max-height: 200px;
            object-fit: cover;

            @media only screen and (max-width: 520px) {
                max-height: unset;
            }
        }
    }

    &__date {
        font-size: 14px;
        line-height: 28px;
        color: $vapour-white-2;
        font-weight: 400;
    }

    &__blog-title {
        font-size: 20px;
        line-height: 28px;
        color: $vapour-white;
        margin-bottom: 16px;
        font-weight: 700;
    }

    &__blog-text-content {
        margin-bottom: 21px;
        font-size: 16px;
        line-height: 24px;
        color: $vapour-white-2;
        font-weight: 400;
    }

    &__cta-link {
        font-size: 16px;
        line-height: 28px;
        color: $vapour-white;
        font-weight: 700;
        text-decoration: none;
        padding-right: 31px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 18px;
            height: 13px;
            background-image: url('../assets/white-arrow.png');
            background-repeat: no-repeat;
            background-size: contain;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}