.hero-a {
  display: flex;
  min-height: 100vh;
  padding: 120px 0 60px;
  color: $vapour-white;
  background-blend-mode: color, normal;
  background-repeat: no-repeat !important;
  background-size: cover !important;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    line-height: 1.1;
    margin-bottom: 40px;

    span {
      display: inline-block;
      margin: 0;
      width: 100%;
    }
  }

  &__heading {
    display: block;
  }

  &__button {
    margin-bottom: 86px;
  }

  &__numbers-container {
    justify-content: flex-end;
    gap: 20px;
  }

  &__number {
    width: 100%;
  }
}
