.stories-blocks {
  padding: 80px 0;

  $self: &;

  @include bp(md) {
    padding: 90px 0;
  }

  @include bp(lg) {
    padding: 120px 0;
  }

  .flex {
    display: flex;
  }

  img {
    max-width: 60px;
    height: auto;
  }

  h2 {
    @include bp(lg) {
      margin-bottom: 100px;
    }
  }

  &__heading {
    margin-bottom: 40px;

    @include bp(md) {
      margin-bottom: 80px;
    }

    @include bp(lg) {
      margin-bottom: 60px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background: rgba($cosmic-blue, .7);
  }

  &__description {
    padding-bottom: 20px;
    font-weight: 700;

    @include bp(md) {
      font-weight: 400;
    }
  }

  &__info {
    display: flex;
    gap: 8px;
    padding-top: 10px;
    border-top: 1px solid $vapour-white;
    line-height: 24px;
  }
}
