.cta-section {
  &__separator-line {
    width: 100%;
    height: 1px;
    margin-bottom: 80px;
    background-color: $vapour-white;

    @include bp(md) {
      margin-bottom: 20px;
    }

    @include bp(lg) {
      display: none;
    }
  }

  &__title {
    margin-bottom: 40px;
  }
}
