.block-tabs {
  margin-bottom: 110px;

  @include bp(lg) {
    margin-bottom: 140px;
  }

  &__container {
    position: relative;
  }

  &__group {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;

      @include bp(md) {
        .block-tabs__heading {
          margin-bottom: 0;
        }
      }
    }

    @include bp(md) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 100px;
    }

    @include bp(lg) {
      display: block;
      margin-bottom: 40px;
    }
  }

  &__heading {
    max-width: fit-content;
    margin-bottom: 28px;
    line-height: 40px;

    @include bp(lg) {
      cursor: pointer;
      margin-bottom: 36px;
      line-height: 60px;

      &:not(.active) {
        background: rgba($white, .2) !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
      }
    }
  }

  &__paragraph {
    @include bp(md) {
      max-width: 300px;
    }

    @include bp(lg) {
      opacity: 0;
      display: none;
      position: absolute;
      top: 0;
      right: 20px;
      margin: 0;

      &.active {
        display: block;
        opacity: 1;
      }
    }
  }
}
