.rating-tiles {
  padding: 80px 0;

  @include bp(md) {
    padding: 90px 0;
  }

  @include bp(lg) {
    padding: 120px 0;
  }

  .flex {
    display: flex;
  }

  &__heading {
    margin-bottom: 40px;

    @include bp(md) {
      margin-bottom: 80px;
    }

    @include bp(lg) {
      margin-bottom: 60px;
    }
  }

  &__tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    background: rgba($cosmic-blue, .7);
  }

  &__name {
    display: block;
    margin: 40px 0;
  }

  &__rating {
    display: flex;
    line-height: 24px;
  }

  &__rating-number {
    padding-right: 14px;
    margin-right: 10px;
    border-right: 1px solid $vapour-white;
  }

  &__stars-container {
    display: flex;
    align-items: center;
  }

  &__star {
    height: 20px;
    margin-right: 3px;
    background-size: cover;

    &:last-child {
      margin-right: 0%;
    }
  }
}
