.our-team-gallery {
  margin-bottom: 140px;

  @media only screen and (max-width: $bp-sm) {
      margin-bottom: 80px;
  }

  .our-team-gallery__wrapper {
      display: flex;
      justify-content: space-between;

      @media only screen and (max-width: $bp-sm) {
          flex-direction: column-reverse;
      }
      @media only screen and (min-width: $bp-sm) and (max-width: $bp-md) {
          flex-direction: column-reverse;
      }


      .our-team-gallery__images-top {

          @media only screen and (max-width: $bp-sm) {
              display: flex;
              flex-direction: column;
              align-items: center;
          }

          @media only screen and (min-width: $bp-sm) and (max-width: $bp-md) {
              display: flex;
          }
          img {
              display: block;
              margin-bottom: 20px;

              @media only screen and (max-width: $bp-sm) {
                  max-width: 300px;
                  width: 100%;
                  height: auto;
              }

              @media only screen and (min-width: $bp-sm) and (max-width: $bp-md) {
                  max-width: calc(100%/3);
                  height: 175px;
                  padding-right: 15px;   
                  object-fit: cover;
              }
              @media only screen and (min-width: $bp-md) and (max-width: $bp-lg) {
                  max-width: calc(100%/3);
                  height: 175px;
              }

              @media only screen and (min-width: $bp-lg) {
                  
              }

          }
      }

      .our-team-gallery__main-content {
          max-width: 540px;

          @media only screen and (max-width: $bp-sm) {
              margin-bottom: 40px;
          }
          @media only screen and (min-width: $bp-sm) and (max-width: $bp-md) {
              margin-bottom: 20px;
          }

          h2 {
              font-size: 48px;
              line-height: 48px;
              font-weight: 400 !important;
              margin-bottom: 65px;
              display: flex;
              flex-direction: column;

              @media only screen and (max-width: $bp-sm) {
                  padding-top: 0;
              }

              @media only screen and (min-width: $bp-sm) and (max-width: $bp-md) {   
                  padding-top: 0;
              }
          }

          p {
              font-size: 16px;
              line-height: 28px;
              font-weight: 400 !important;
              margin-bottom: 40px;
          }

          .main-thumbnail {
              width: 100%;
              
              iframe {
                  max-width: 100%;
                  width: 100%;
              }
          }
      }
  }

  .our-team-gallery__images-bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @media only screen and (max-width: $bp-sm) {
          flex-direction: column;
          align-items: center;
      }


      img {
          display: block;
          max-width: calc(100%/3);
          margin-bottom: 20px;

          @media only screen and (max-width: $bp-sm) {
              max-width: 300px;
              width: 100%;
              height: auto;
          }
          @media only screen and (min-width: $bp-sm) and (max-width: $bp-md) {
              max-width: calc(100%/3);
              padding-right: 15px;
              object-fit: cover;
          }
      }
  }
}
