.partners {
  overflow: hidden;
  position: relative;

  $self: &;

  @include bp(md) {
    padding: 60px 0 300px;
  }

  &__desktop-logos {
    z-index: -1;
    display: none;
    position: absolute;
    top: 0;
    left: 60%;

    @include bp(md) {
      display: block;
    }
  }

  &__logos-row {
    display: flex;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__image {
    opacity: .7;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 202px;
    height: 56px;

    @include bp(md) {
      width: 250px;
      height: 100px;
    }

    @media only screen and (max-width: 520px) {
      margin-bottom: 40px;
    }

    &:nth-child(2n) {
      margin-left: auto;

      @include bp(sm) {
        margin: 0;
      }
    }
  }

  &__mobile-logos {
    @include bp(sm) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    @include bp(md) {
      display: none;
    }
  }

}
