.symbol-primary-button {
  display: block;
  padding: 15px 24px;
  color: $cosmic-blue;
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;

  &:hover, &.hover {
    background-color: $vapour-white;
  }

  &:focus, &.focus {
    outline: 1px solid $cerulean-blue;
    outline-offset: 3px;
  }

  &:disabled, &.disabled {
    background-color: $cosmic-blue-2 !important;
    pointer-events: none;
  }

  &--green {
    background-color: $mint-green;

    &:focus, &.focus {
      background-color: $mint-green-lighten;
    }
  }

  &--purple {
    background-color: $heliotrope-purple;

    &:focus, &.focus {
      background-color: $heliotrope-purple-lighten;
    }
  }

  &--blue {
    background-color: $cerulean-blue;

    &:focus, &.focus {
      background-color: $cerulean-blue-lighten;
    }
  }

  &__icon {
    display: inline-block;
    margin-left: 10px;
    width: 12px;
    height: 11px;
    background-image: url("../assets/chevron-right.svg");
  }
}

.symbol-link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 30px;
  color: $vapour-white;
  font-weight: bold;
  text-decoration: none;

  &:focus, &.focus {
    outline: 1px solid $cerulean-blue;
    outline-offset: 3px;
  }

  &:disabled, &.disabled {
    color: $cosmic-blue-2;
    pointer-events: none;
  }

  &--green {
    &:hover, &.hover, &:focus, &.focus {
      color: $mint-green-lighten;
    }
  }

  &--purple {
    &:hover, &.hover, &:focus, &.focus {
      color: $heliotrope-purple-lighten;
    }
  }

  &__icon {
    display: inline-block;
    height: 100%;
    margin-left: 14px;

    svg {
      height: 100%;
    }
  }
}

.symbol-email-button {
  line-height: 28px;
  font-weight: bold;
  text-underline-offset: 4px;

  &:hover, &.hover {
    color: $vapour-white;
  }

  &--green {
    color: $mint-green;
  }

  &--purple {
    color: $heliotrope-purple;
  }
}

.symbol-footer-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 12px 0;
  color: $vapour-white;
  text-decoration: none;

  &:hover, &.hover {
    &::before {
      background: $blue-purple-gradient;
    }
  }

  &:focus, &.focus {
    color: $cerulean-blue;

    &::before {
      height: 4px;
      background: $blue-purple-gradient;
    }
  }

  &--gradient-text {
    &:focus, &.focus {
      background: $blue-purple-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  
      &::before {
        height: 4px;
        background: $blue-purple-gradient;
      }
    }
  }

  &__text {
    font-size: 28px;
    font-weight: 500;
  }

  &__icon {
    .hover &, :hover & {
      color: $cerulean-blue;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    background: $vapour-white;
  }
}

.symbol-team-button {
  display: block;
  position: relative;
  width: 100%;
  padding: 12px 0;
  color: $vapour-white;
  text-decoration: none;

  &:hover, &.hover {
    &::before {
      background: $orange-purple-gradient;
    }
  }

  &:focus, &.focus {
    &::before {
      height: 4px;
      background: $orange-purple-gradient;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    background: $vapour-white;
  }

  &__header {
    position: relative;
    margin-bottom: 20px;
    padding: 0 48px;
  }

  &__name {
    font-size: 28px;
    font-weight: 700;

    .focus &, :focus & {
      background: $orange-purple-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &--left {
      left: 3px
    }

    &--right {
      right: 3px;

      .hover &, :hover &, .focus &, :focus & {
        color: $heliotrope-purple;
      }
    }
  }

  &__paragraph {
    color: $vapour-white !important;
    line-height: 24px;
  }
}
