.symbol-checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover &, &.hover & {
      &__checkmark {
        border-color: $purple-border;
      }
    }

    &__input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;

      &:checked, &.checked {
        ~ .symbol-checkbox__checkmark {
          background-color: $checkbox-checked-green;

          &::after {
            display: block;
          }
        }
      }

      &:disabled, &.disabled {
        pointer-events: none;

        ~ .symbol-checkbox__checkmark {
          opacity: .4;
        }
      }
    }

    &__checkmark {
      position: relative;
      display: inline-block;
      height: 27px;
      width: 27px;
      background-color: $vapour-white;
      border: 1px solid $cosmic-blue-border;

      &::after {
        content: "";
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 14px;
        height: 10px;
        background-image: url('../assets/checkmark.svg');
      }
    }
}

.symbol-radio {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover &, &.hover & {
    &__circle {
      border-color: $purple-border;
    }
  }

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;

    &:disabled, &.disabled {
      ~ .symbol-radio__circle {
        opacity: .4;
      }
    }

    &:checked, &.checked {
      ~ .symbol-radio__circle::after{
        display: block;
      }
    }
  }

  &__circle {
    position: absolute;
    top: 0;
    left: 0;
    height: 27px;
    width: 27px;
    border: 1px solid $cosmic-blue-border;
    border-radius: 100%;
    background-color: $vapour-white;

    &::after {
      content: "";
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 13px;
      height: 13px;
      border-radius: 100%;
      background-color: $checkbox-checked-green;
    }
  }
}

.symbol-toggle {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 18px;

  $self: &;

  &:hover, &.hover {
    #{$self}__slider {
      background-color: rgba($vapour-white, .3);
    }

    #{$self}__input {
      &:checked, &.checked {
        ~ #{$self}__slider {
          background-color: $heliotrope-purple-lighten;
        }
      }
    }
  }

  &__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

    &:checked, &.checked {
      ~ #{$self}__slider {
        background-color: $heliotrope-purple;

        &::before {
          transform: translateX(18px);
        }
      }
    }
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 22px;
    background-color: rgba($vapour-white, .2);
    transition: $transition;

    &::before {
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      left: 2px;
      bottom: 2px;
      border-radius: 100%;
      background-color: $vapour-white;
      transition: $transition;
    }
  }
}
