.symbol-form {
  &__label {
    display: block;
    line-height: 28px;
    margin-bottom: 10px;
  }

  &__input {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid $cosmic-blue-border;
    outline: none;
    color: $cosmic-blue;
    line-height: 28px;
    -webkit-appearance: none;

    &::placeholder {
      color: rgba($cosmic-blue, 0.4);
    }

    &:hover,
    &.hover {
      border-color: $heliotrope-purple;
    }

    &--textarea {
      min-height: 140px;
      margin-bottom: 6px;
      resize: none;
    }

    &--error {
      margin-bottom: 5px;
    }
  }

  &__error {
    display: block;
    color: $error;
    font-size: 14px;
    line-height: 26px;
  }

  &__description {
    font-size: 14px;
    line-height: 26px;
  }
}

.symbol-searchbar {
  position: relative;

  &__input {
    width: 100%;
    padding: 10px 54px;
    border: 1px solid $cosmic-blue-border;
    outline: none;
    color: $cosmic-blue;
    line-height: 28px;
    -webkit-appearance: none;

    .symbol-searchbar:hover &,
    .symbol-searchbar.hover & {
      border-color: $heliotrope-purple;
    }

    &::-webkit-search-cancel-button {
      position: absolute;
      right: 16px;
      width: 18px;
      height: 18px;
      margin: 0;
      background: url("../assets/searchbar-clear.svg");
      -webkit-appearance: none;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;

    &--left {
      left: 20px;
      color: $cosmic-blue;

      .symbol-searchbar:hover &,
      .symbol-searchbar.hover & {
        color: $heliotrope-purple;
      }
    }
  }
}

.dropdown--tiered {
  .option-group {
    font-weight: 500;
  }

  .sub-option {
    padding-left: 30px;
  }
}
