.symbol-section {
  box-sizing: border-box;
  padding: 80px 0;
  background-color: $cosmic-blue;
  color: $white;

  &--small {
    padding: 40px 0;
  }

  &--white {
    min-height: 600px;
    background-color: $white;
    color: $black;
  }
}

.symbol-code-caption {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  position: relative;
  z-index: 2;

  code {
    margin-bottom: 10px;
    line-height: 1;
  }
}

code {
  background-color: #333;
  color: #00c700;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  word-wrap: break-word;
}
