.our-story-persons {
  &__main-content {
    display: flex;
    justify-content: space-between;
  }

  &__image-wrapper {
    margin-bottom: 30px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__person-name {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__person-role {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }
}
