.not-found {
  padding: 140px 0 80px;
  
  @include bp(md) {
    padding: 200px 0 140px;
  }

  &__title {
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 190px;
    
    @include bp(lg) {
      margin-bottom: 0;
      font-size: 210px;
      line-height: 210px;
    }
  }

  &__description {
    margin: 26px 0 30px;
  }
}
