.accordion {
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
  padding: 16px 60px 16px 16px;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: $vapour-white;
  transition: $transition;
  color: $vapour-white;

  $self: &;

  @include bp(md) {
    padding: 30px 80px 30px 30px;
  }

  &:hover {
    border-image-source: $purple-orange-gradient;
  }

  &--active {
    padding: 13px 57px 13px 13px;
    border-width: 4px;
    border-image-source: $purple-orange-gradient;

    @include bp(md) {
      padding: 27px 77px 27px 27px;
    }

    #{$self}__icon--open {
      opacity: 0;
    }

    #{$self}__icon--close {
      opacity: 1;
    }
  }

  &__header {
    position: relative;
    font-weight: bold;
    line-height: 28px;
    pointer-events: none;
  }

  &__content {
    overflow: hidden;
    max-height: 0;
    transition: $transition;
    transition-property: max-height;
    pointer-events: none;
    line-height: 28px;

    p {
      margin-top: 30px;
    }
  }

  &__icon {
    position: absolute;
    top: 0px;
    right: -44px;
    transition: $transition;
    transition-property: opacity;

    @include bp(md) {
      right: -30px;
    }
    
    &--close {
      opacity: 0;
    }
  }
}
