// Primary buttons
.primary-button {
  display: inline-flex;
  align-items: center;
  padding: 11px 24px;
  color: $cosmic-blue;
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;

  &:hover, &.hover {
    background-color: $vapour-white;
  }

  &:focus, &.focus {
    outline: 1px solid $cerulean-blue;
    outline-offset: 3px;
  }

  &:disabled, &.disabled {
    background-color: $cosmic-blue-2 !important;
    pointer-events: none;
  }

  &--green {
    background-color: $mint-green;

    &:focus, &.focus {
      background-color: $mint-green-lighten;
    }
  }

  &--purple {
    background-color: $heliotrope-purple;

    &:focus, &.focus {
      background-color: $heliotrope-purple-lighten;
    }
  }

  &--blue {
    background-color: $cerulean-blue;

    &:focus, &.focus {
      background-color: $cerulean-blue-lighten;
    }
  }

  &__icon {
    width: 12px;
    height: 11px;
    margin-left: 10px;
    background-image: url("../assets/chevron-right.svg");
  }
}

.button-link {
  display: flex;
  align-items: center;
  padding: 5px 0 0;
  color: $vapour-white;
  font-weight: 700;
  text-decoration: none;

  &:focus {
    outline: 1px solid $cerulean-blue;
    outline-offset: 3px;
  }

  &:disabled {
    color: $cosmic-blue-2;
    pointer-events: none;
  }

  &--green {
    &:hover, &.hover, &:focus, &.focus {
      color: $mint-green-lighten;
    }
  }

  &--purple {
    &:hover, &.hover, &:focus, &.focus {
      color: $heliotrope-purple-lighten;
    }
  }

  &__text {
    display: inline-block;
    margin-right: 14px;
  }
}
