.footer {
  padding: 80px 0;
  background-color: $vapour-white;
  color: $cosmic-blue;

  $self: &;

  @include bp(md) {
    padding: 90px 0;
  }

  @include bp(lg) {
    padding: 120px 0 100px;
  }

  &__upper-cols {
    @include bp(md) {
      margin-bottom: 50px;
    }

    @include bp(lg) {
      margin-bottom: 110px;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 40px;

    @include bp(md) {
      margin-bottom: 20px;
    }

    @media (min-width: $bp-md) and (max-width: $bp-lg) {
      img {
        max-width: 165px;
      }
    }
  }

  &__description {
    margin: 30px 0;

    @include bp(md) {
      margin: 20px 0;
    }
  }

  &__button {
    margin-bottom: 80px;
  }

  &__link {
    position: relative;
    display: block;
    margin-bottom: 40px;
    padding-top: 5px;
    color: $cosmic-blue;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;

    &:hover, &:focus {
      &::before {
        background: $blue-purple-gradient;
      }

      #{$self}__link-arrow {
        opacity: 1;
        color: $cerulean-blue;
      }
    }

    &:focus {
      color: $cerulean-blue;
      outline: none;

      &::before {
        height: 4px;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 1px;
      background: $cosmic-blue;
    }
  }

  &__link-arrow {
    opacity: .2;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: inherit;
  }

  &__separator {
    height: 4px;
    margin-bottom: 50px;
    background: $cosmic-blue;

    @include bp(md) {
      margin-bottom: 20px;
    }
  }

  &__socials {
    display: flex;
    justify-content: space-between;

    @include bp(md) {
      flex-direction: column;
    }
  }

  &__social-link {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
    color: $cosmic-blue;
    font-weight: 700;
    text-decoration: none;

    @include bp(md) {
      display: inline-flex;
      margin: 0 60px 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__copyright {
    max-width: 150px;
    font-size: 12px;
    text-align: right;

    
    @include bp(md) {
      max-width: 210px;
      text-align: left;
    }
  }

  &__contacts {
    display: flex;
  }

  &__contact-info {
    display: inline-block;
    width: 50%;
    margin-right: 20px;

    &:last-child {
      margin: 0;
    }
  }

  &__contact-city, &__contact-location, &__contact-country {
    display: block;
    margin-bottom: 12px;
  }

  &__contact-phone {
    color: $cosmic-blue;
    text-decoration: none;
  }

  .website-by {
    font-size: 12px;
    color: #333;

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
