.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    padding: 20px;
    transition: $transition;
    transition-property: transform;
    background: linear-gradient(180deg, #090920 0%, rgba(9, 9, 32, 0) 100%);
    
    @include bp(md) {
      padding: 35px 40px;
    }

    .scroll-down & {
      transform: translateY(-100%);
    }
  }

  &__logo {
    width: 110px;
    height: 15px;

    @include bp(md) {
      width: 200px;
      height: 27px;
    }
  }

  &__button {
    cursor: pointer;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30px;
    
    @media only screen and (min-width: 990px) {
      display: none;
    }
  }

  &__button-line {
    background: $vapour-white;
    height: 3px;
    margin-bottom: 5px;
    transition: $transition;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-of-type(1) {
      width: 50%;
    }

    &:nth-of-type(2) {
      width: 100%;
    }

    &:nth-of-type(3) {
      width: 75%;
    }

    .menu-open & {
      &:nth-of-type(1) {
        transform-origin:bottom;
        transform:  rotatez(45deg) translate(-7px, 10px);
      }
  
      &:nth-of-type(2) {
        transform-origin:top;
        transform:rotatez(-45deg)
      }
  
      &:nth-of-type(3) {
        width:50%;
        transform-origin:bottom;
        transform: translate(-2px,-4px) rotatez(45deg);
      }
    }
  }
}
