.navigation {
  display: none;

  // @include bp(md) {
  //   display: block;
  // }

  @media only screen and (min-width: 990px) {
    display: block;
  }

  &__container {
    list-style-type: none;
  }

  &__item {
    display: inline-block;
    // margin-right: 52px;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: $vapour-white;
    line-height: 30px;
  }
}

.menu {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  clip-path: circle(10px at 105% -10%);
  transition: 1s ease-out;
  transition-property: clip-path, left, right;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  $self: &;

  .menu-open & {
    clip-path: circle(200% at 105% -10%);
  }

  // @include bp(md) {
  //   display: none !important;
  // }

  &__background-filter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: #090821;
    mix-blend-mode: color;
    backdrop-filter: opacity(0.4);
    filter: saturate(0.8);
  }

  &__container {
    position: relative;
    z-index: 3;
    padding: 100px 40px 26px;
    border: 1px solid;
    border-top: none;
    border-image-slice: 1;
    border-image-source: $purple-orange-gradient;
    background: rgba(9, 9, 32, 0.7);
    backdrop-filter: blur(4px);
  }

  &__item {
    opacity: 0;
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 53px;

    .menu-open & , .menu-closing & {
      animation: fadeIn 1.6s forwards;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background: $vapour-white;
      transition: $transition-fast;
      transition-property: height;
    }

    &:hover {
      &::before {
        height: 4px;
        background: $blue-purple-gradient;
      }

      #{$self}__link, #{$self}__link-icon {
        color: $cerulean-blue;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transition: $transition;
    transition-property: font-weight;
    color: $vapour-white;
    font-size: 28px;
    line-height: 48px;
    text-decoration: none;
  }
}
