.section-separator {
  margin-bottom: 40px;
  padding-bottom: 0;

  @include bp(md) {
    margin-bottom: 60px;
  }

  &__line {
    width: 100%;
    border-top: 4px solid $vapour-white;
    margin-bottom: 10px;
  }

  &__text {
    color: $vapour-white;
    font-size: 18px;
    font-weight: 700;
  }
}
