.two-columns {
  &__row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 150px;

    @include bp(md) {
      flex-direction: row;
    }

    &--reversed {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    img {
      max-width:100%;
      max-height:100%;
    }
  }

  &__paragraph {
    p {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
