.workable-api {
    margin-bottom: 140px;

    .workable-api__divider {
        border-top: 4px solid #FAFAFB;
        margin-bottom: 60px;

        .workable-api__paragraph {
            color: #FAFAFB;
            font-size: 18px;
            font-weight: 700;
            line-height: 21.6px;
            padding-top: 10px;
            border-top: 4px solid #FAFAFB;
        }
    }

    .workable-api__main-content {
        position: relative;

        .workable-api__filters {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: 20px;
            margin-bottom: 70px;

            .workable-api__search {
                grid-column: 1/13;
                grid-row: 1/2;
                height: 50px;

                input {
                    width: 100%;
                    padding: 11px 0 11px 55px;
                    font-size: 16px;
                    line-height: 28px;
                    height: 50px;
                    background-image: url('../assets/search-spyglass.png');
                    background-repeat: no-repeat;
                    background-size: 17px;
                    background-position-x: 22px;
                    background-position-y: 17px;
                }

                input::placeholder {
                    font-size: 16px;
                    line-height: 28px;
                    color: rgba($color: #090821, $alpha: 0.4);
                }
            }

            .workable-api__location, .workable-api__department, .workable-api__work-type {
                height: 50px;

                select {
                    width: 100%;
                    height: 50px;
                    font-size: 16px;
                    line-height: 28px;
                    padding: 11px 22px 11px 20px;
                    color: rgba($color: #090821, $alpha: 0.4);
                }

                .nice-select {
                    width: 100%;
                    height: 50px;
                    background: #FAFAFB;
                    display: flex;
                    align-items: center;

                    span {
                        color: rgba($color: #090821, $alpha: 0.4);
                        font-size: 16px;
                        line-height: 28px;
                        width: 100%;
                        overflow: hidden;
                    }

                    .nice-select-dropdown {
                        ul {
                            li {
                                color: #090821;
                            }
                        }
                    }
                }
            }
            .workable-api__location {
                grid-column: 1/4;
                grid-row: 2/3;

                label {
                    font-size: 0;
                }

                @media only screen and (max-width: 520px) {
                    grid-column: 1/7;
                    grid-row: 2/3;
                }
            }
            .workable-api__department {
                grid-column: 4/7;
                grid-row: 2/3;

                label {
                    font-size: 0;
                }

                @media only screen and (max-width: 520px) {
                    grid-column: 7/13;
                    grid-row: 2/3;
                }
            }
            .workable-api__work-type {
                grid-column: 7/10;
                grid-row: 2/3;
                
                label {
                    font-size: 0;
                }

                @media only screen and (max-width: 520px) {
                    grid-column: 1/7;
                    grid-row: 3/4;
                }
            }
            .workable-api__remote-switcher {
                padding-left: 10px;
                grid-column: 10/12;
                grid-row: 2/3;
                display: flex;
                justify-content: start;
                align-items: center;
                
                label {
                    font-size: 0;
                }

                @media only screen and (max-width: 520px) {
                    grid-column: 7/13;
                    grid-row: 3/4;
                    padding-left: 0;
                    display: flex;
                    flex-direction: column;
                    justify-self: start;
                    align-self: center;
                }
            }
            .workable-api__reset-filters-wrapper {
                grid-column: 12/13;
                grid-row: 2/3;
                align-self: center;
                justify-self: center;

                @media only screen and (max-width: 520px) {
                    grid-column: 7/13;
                    grid-row: 3/4;
                    justify-self: end;
                    align-self: center;
                    padding-right: 20px;
                }

                a {
                    display: block;
                    width: 30px;
                    height: 30px;
                    background-image: url('../assets/reload-icon.svg');
                    text-decoration: none;
                    transition: 0.3s all;
                    border: none;
                    cursor: pointer;

                    &:hover {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        // Loader
        .jobs-loader {
            position: absolute;
            top: 50%;
            left: 45%;
            transform: translate(-50%, -50%);
            border: 12px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #a371e5; /* Blue */
            border-radius: 50%;
            width: 100px;
            height: 100px;
            animation: spin 2s linear infinite;
            display: none;

            @media only screen and (max-width: $bp-sm) {
                top: 55%;
                left: 43%;
                border: 8px solid #f3f3f3; /* Light grey */
                border-top: 8px solid #a371e5; /* Blue */
                width: 70px;
                height: 70px;
            }
        }
        .jobs-loader-open {
            display: block;
        }
        @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
        }

        .workable-api__not-found-msg {
            text-align: center;
            padding: 20px 0 80px 0;
            font-size: 18px;
            display: none;
        }

        .msg-open {
            display: block;
        }

        .workable-api__jobs-content {
            min-height: 300px;

            @media only screen and (max-width: $bp-sm) {
                min-height: 150px;
            }

            .workable-api__job {
                display: flex;
                gap: 20px;
                padding-top: 20px;
                padding-bottom: 28px;
                border-bottom: 1px solid rgba($color: #FAFAFB, $alpha: 0.4);
                margin-bottom: 30px;

                @media only screen and (max-width: 520px) {
                    flex-wrap: wrap;
                    justify-content: space-between;
                }

                .workable-api__job-information {
                    max-width: 300px;
                    width: 100%;
                    padding-right: 20px;

                    @media only screen and (max-width: 520px) {
                        width: 54%;
                    }

                    .workable-api__job-title {
                        font-size: 18px;
                        line-height: 27px;
                        font-weight: 500 !important;
                        margin-bottom: 12px;
                        padding-top: 0;
                        color: #FAFAFB;
                        transition: all 0.3s;
                    }
                    .workable-api__job-post-date {
                        font-size: 14px;
                        line-height: 16.8px;
                        color: #FAFAFB;
                        opacity: 0.4;
                    }
                }

                .workable-api__job-location {
                    max-width: 220px;
                    width: 100%;
                    
                    @media only screen and (max-width: 520px) {
                        width: 40%;
                        text-align: right;
                    }

                    .workable-api__city, .workable-api__country {
                        font-size: 16px;
                        line-height: 32px;
                        color: #FAFAFB;
                        padding-top: 0;
                    }
                }

                .workable-api__job-position {
                    max-width: 220px;
                    width: 100%;

                    @media only screen and (max-width: 520px) {
                        width: 55%;
                    }

                    .workable-api__position {
                        font-size: 16px;
                        line-height: 32px;
                        font-size: 400 !important;
                    }
                }

                .workable-api__job-duration {
                    max-width: 140px;
                    width: 100%;

                    @media only screen and (max-width: 520px) {
                        width: 35%;
                        text-align: right;
                    }

                    .workable-api__duration {
                        font-size: 16px;
                        line-height: 32px;
                        font-weight: 400 !important;
                    }
                }
            }
            a {
                text-decoration: none; 
                color: #FAFAFB;

                &:hover {
                    .workable-api__job {
                        .workable-api__job-information {
                            .workable-api__job-title {
                                color: #A371E5;
                            }
                        }
                    }
                }
            }
        }
    }


    .workable-api__cta-wrapper {
        display: flex;
        justify-content: end;

        .workable-api__cta {
            text-decoration: none;
            width: 100%;
            max-width: 200px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #A371E5;
            font-size: 16px;
            line-height: 28px;
            color: #090821;
            font-weight: 700 !important;
        }
    }
    //Checkbox styles
    &__remote-switcher {
        span {
            padding-left: 10px;
            font-size: 14px;
            line-height: 16.8px;
            font-weight: 500 !important;
        }
        input[type="checkbox"] {
            display: none;
          }
          input[type="checkbox"]:checked + label {
            background-color: #A371E5;
          }
          input[type="checkbox"]:checked + label:after {
            left: 19px;
          }
          label {
            transition: all 200ms ease-in-out;
            display: inline-block;
            position: relative;
            height: 18px;
            width: 36px;
            border-radius: 40px;
            cursor: pointer;
            background-color:rgba($color: #FAFAFB, $alpha: 0.2);
            color: transparent;
          }
          label:after {
            transition: all 200ms ease-in-out;
            content: " ";
            position: absolute;
            height: 14px;
            width: 14px;
            border-radius: 50%;
            background-color: #FAFAFB;
            top: 2px;
            left: 2px;
            right: auto;
          }
          
    }
}
