.cta-small {
  &__heading {
    margin-bottom: 12px;
  }

  &__paragraph {
    line-height: 32px;

    &.highlight-green {
      a {
        color: $mint-green;
      }
    }

    &.highlight-purple {
      a {
        color: $heliotrope-purple;
      }
    }

    &.highlight-blue {
      a {
        color: $cerulean-blue;
      }
    }

    a {
      text-decoration: none;
    }
  }
}
